[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash convert.sh
Name=Conversion
Comment=Docx to Html
Icon=/home/fifix/Workspace/html/doc/images/convert.png
